langchain-core
langchain-community
langchain_groq
sentence-transformers
faiss-cpu
langchain_google_genai
langchain_openai
langchain_anthropic
langchain_huggingface
google-generativeai
smolagents
litellm
gradio
wordcloud
grandalf
seaborn
matplotlib
nltk
gensim
pyLDAvis
spacy
gradio
pypdf
langchain-google-vertexai
pinecone-client
langchain_pinecone