langchain-openai
langchain-groq
langchain-core
python-dotenv
streamlit
langchain-community
langserve
fastapi
uvicorn
sse-starlette
bs4
pypdf
chromadb
faiss-cpu
onnxruntime
arxiv
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
sentence-transformers
nltk
gensim
openpyxl
transformers
spacy
#en-core-web-sm==3.0.0
flask
dagshub
lightgbm
torch